* {
	padding:0.0em;
	margin:0.0em;
}

body {
    width: 100%;    
}

header {
    text-align: center;
    background-color: #A8A9D6; 
    color: #7C7DAB; 
    height: 4.0em;
}
nav {
    margin-top: 0.25em;
}
nav li {
    list-style-type: none;
    display: inline-block;
    padding-right: 0.65em;   
}
nav li a {
    text-decoration: none;
}
h1 {
    font-size: 3.0em;
}
#bigWrapper {
    max-width: 80.0em;
    min-width: 40.0em;
    margin: auto auto;
    margin-top: 2.0em;
    border-radius: 0.5em;
}

section {
    margin-top: 0.25em;
    padding-top: 0.5em;
}
section h3 {
    margin: 0.25em 0.5em;
    color: #7C7DAB;
}