/* carousel.css
 * 
*/

.jcarousel {
	position: relative;
	overflow: hidden;

	height: 100px;
	width: 730px;
	display: inline-block;
	top: 10px;
}

.jcarousel ul {
	width: 20000em;
	position: absolute;
	list-style: none;
	margin: 0;
	padding: 0;
}

.jcarousel li {
	padding-left: 10px;
	float: left;
	height: 200px;
}

.jcarousel img {
	height: 200px;
}


#outerContainer {
	width: 80%;
	min-width: 750px;
	margin: 0 auto;
}


#carouselWarp {
	position: relative;
	height: 120px;
	max-width: 740px;/*425*/
	padding-left: 10px;
	margin-left: auto;
	margin-right: auto;

	/*background: none repeat scroll 0% 0% rgb(240, 246, 249);*/
	/*border: 1px solid rgb(52, 111, 151);*/
	border-radius: 10px;
}

.prev {
	display: inline-block;
	float: left;

	position: relative;
	top: 70px;/*50, 35*/
}
.next {
	display: inline-block;
	float: right; left: 790px;
	padding-left: 10px;

	position: absolute;
	top: 70px;
}

