

.btn-group{
margin-left:23%;
top: 50px;
opacity: 1;
z-index: 2;


}


/* formatting the forms */
#vidForm{

z-index: 2;
position: relative;
left: 80px;
top: 60px;

}
#memeForm{

z-index: 2;
position: relative;
left: 80px;
top: 60px;

}
#imageForm{

z-index: 2;
position: relative;
left: 80px;
top: 60px;

}

