html, body {
    margin: 0;
    padding: 0;
    border: 0;
}

#longbar{
padding-top: 5px;
-moz-box-shadow: 3px 4px 8px #000;
-webkit-box-shadow: 3px 4px 8px #000;
box-shadow: 3px 4px 8px #000;
}

#Arrow{
-moz-box-shadow: 3px 4px 8px #000;
-webkit-box-shadow: 3px 4px 8px #000;
box-shadow: 3px 4px 8px #000;
} 
